*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
 
}
 nav{
     
     background-size: cover;
     background-repeat: no-repeat;
     font-family: sans-serif;
     
   
 
}
 .nav-list{
     padding: 1rem 0;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     
 
}
 .nav-item{
     margin-right: 2rem;
     
     font-weight: 600
}
 .nav-item a {
 
 color: white;
 letter-spacing: 1.2px;
}
 
 .nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    

}
 ul{
 
     background-color: black;
}
.conteneur-page-index-debut{
    background-image: url(images/Image\ de\ cs-go\ au\ tout\ début\ du\ site.png) ;
    background-size:  cover;
    display: flex;
    flex-direction: column;
    height: 837px;
    align-items: center;
    padding-top: 200px;
    padding-right: 850px;

}
.text-conteneur-index-debut{
font-size: 40px;
color: white;
font-weight: bold;
padding-bottom: 50px;
}
.conteneur-page-index-partie-2{
    display: flex;
    
}

    .conteneur-page-index-partie-3{
        background-image:url(images-et-vidéos/forme\ grise.png);
        background-size:  cover;
        display: flex;
        height: 1225px;
        justify-content: space-between;
        
        
        }
        .conteneur-page-index-partie-contact-gauche{
        display: flex;
        flex-direction: column;
        padding-left: 170px;
        padding-top: 140px;
        
        }
        .conteneur-page-index-partie-description-projet-droite{
        display: flex;
        flex-direction: column;
        padding-right: 150px;
        padding-top: 140px;
        
        }
        .conteneur-image-gris{
        position: relative;
        align-items: center;
        text-align: center;
        
        }
        .texte-image-gris{
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: black;
        padding-left: 20px;
        padding-right: 250px;
        align-items: center;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: black;
        padding-bottom: 40px;
        }







